.card-list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.card-poke{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background-color:aliceblue;
  width: 11.7rem;
  height: 13.7rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  color: black;
}

.card-poke .sprite{
  image-rendering: pixelated;
  scale: 2;
}

.card-poke .number{
  font-size: 0.8rem;
  font-weight: 500;
}

.card-poke .name{
  font-size: 1.3rem;
  font-weight: 500;
}

.card-poke .type{
  font-size: 0.85rem;
  display: inline-block;
  margin-inline: 0.3rem;
  background-color: darkgrey;
  padding: 0.01rem 1rem;
  border-radius: 1.7rem;
}


.details{
  display: flex;
  align-items: center;
  justify-content: center;
}
.details .poke{
  background: aliceblue;
  width: 100%;
  height: auto;
  color: black;
  padding: 2rem 1rem;
  border-radius: 1.7rem;
}

.details .poke .sprite{
  image-rendering: pixelated;
  scale: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.details .poke h1{
  color: black;
}